@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

* {
	position: relative;
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
	width: 100%;
	font-size: 100%;
}

body {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-family: 'Special Elite', cursive;

	background-color: #eee;
	color: #333;
}

h1 {
	line-height: 1;
	font-size: 20vmin;
	filter: blur(1px);
}

div {
	padding: 20px;
	line-height: 2;
	text-align: center;
}

a {
	color: #369;
	text-decoration: none;
}
